{% extends 'base.html' %}

{% block title %}
  Notepad - List
{% endblock %}

{% block content %}
 <div id="todo-form" class="pb-10 w-full h-[120vh] py-6 bg-gray-900 z-10 top-0
 overflow-x-hidden px-8">
   <div class="mt-16">
     
   <h2 class="text-2xl text-white text-center mb-4">New notes</h2>
   <button class="absolute top-4 right-3 w-14 h-14 outline-none text-white font-bold -translate-y-4
   z-10 text-xl sm:text-2xl"
   id="closeForm"> <i class="fa fa-close"></i> </button>
    <form id="noteForm" method="post" class="sm:mx-auto max-w-3xl">
      {% csrf_token %}
      
     <div class="flex flex-col mb-6">
      <label class="text-lg sm:text-xl text-white font-bold">Note Title</label>
      <input type="text" name="title" id="title" class="input sm:h-14"
           placeholder="Eg. Film content" required>
     </div>
     <div class="flex flex-col mb-6 mt-9">
      <label class="text-lg text-white font-bold">Note Content</label>
      <textarea type="text" name="content" id="content" class="input resize-none
      h-20 py-4 sm:h-28"
      placeholder="Content" required></textarea>
     </div>
      <button id="submitBtn" type="submit" class="w-full h-12 px-4 py-3
      bg-fuchsia-500 rounded-lg text-white my-4 mx-auto text-lg sm:text-xl">Add Note</button> 
    </form>
   </div>
  </div>
 <div class="max-w-4xl sm:mx-auto relative overflow-x-hidden pb-6">
<!--      <a href="{% url 'logout' %}"><p class="text-right text-fuchsia-600
     text-lg">Logout</p></a> -->
   <h2 class="text-3xl text-white font-semibold text-center mb-6">Notepad</h2>
   <div class="flex flex-col space-y-3" id="note-con">
     {% for note in notes %}
     <div class="flex">
       <div class="box notes" data-file-id='{{ note.id }}'>
         <h2 class="h2">{{ note.title }}</h2>
         <p class="p">{{ note.created }}</p>
       </div>
       <div class="flex absolute right-3 translate-y-5 space-x-3">
         <button class="text-fuchsia-500 text-xl" onclick="openModal('modal-{{ note.id }}')" type="button"><i class="fa fa-edit"></i></button>
         <button class="text-fuchsia-500 text-xl delete" data-file-del='{{ note.id }}'><i class="fa fa-trash"></i></button>
       </div>
       
       <!-- edit modal  -->
  <div id="modal-{{ note.id }}" class="py-3 w-full h-[50vh] bg-gray-900 border border-fuchsia-500
  z-[100000] top-0 overflow-x-hidden px-8 absolute hidden">
   <div class="mt-16">
     
   <h2 class="text-2xl text-white text-center mb-4">Edit notes</h2>
   <button class="absolute top-4 right-3 w-14 h-14 outline-none text-white font-bold -translate-y-4
   z-20 text-xl"
   id="closeEdit" onclick="closeModal('modal-{{ note.id }}')"> <i class="fa fa-close"></i> </button>
    <form class="editForm" method="post" data-note-id='{{ note.id }}' action="{% url 'edit-note' note.id  %}">
      {% csrf_token %}
     <div class="flex flex-col mb-6">
      <label class="text-lg text-white font-bold">Note Title</label>
      <input type="text" name="updated_title" id="updated_title" class="input" value="{{ note.title }}" required>
     </div>
     <div class="flex flex-col mb-6 mt-9">
      <label class="text-lg text-white font-bold">Note Content</label>
      <textarea type="text" name="updated_content" id="updated_content" class="input resize-none
      h-20 py-4 text-white" required>
        {{ note.content }}
      </textarea>
     </div>
      <button type="submit" class="w-full h-12 px-4 py-3
      bg-fuchsia-500 rounded-lg text-white my-4 mx-auto editBtn text-lg">Edit</button> 
    </form>
   </div>
  </div>
  
  
     </div>
     {% empty %}
     <h2 class="text-fuchsia-500 text-xl">No Notes Added</h2>
     <p class="text-white text-sm"> Click the plus button to add note</p>
    {% endfor %}
   </div>
   
   <button class="fixed bottom-8 right-6 bg-fuchsia-500 w-16 h-16 sm:h-24
   sm:w-24 text-lg sm:text-xl p-3 text-center
   rounded-full z-10 outline-none text-center text-white font-bold"
   id="openForm"> <i class="fa fa-plus"></i> </button>
   
  <div id="detail-con" class="w-full h-screen px-4 py-6 bg-gray-900 z-10
  fixed top-0 overflow-x-hidden overflow-hidden hidden">
       <button class="absolute top-7 left-3 w-14 h-14 p-3 outline-none text-center text-white font-bold"
   id="closeDetail"> <i class="fa fa-close"></i> </button>
   <div class="mt-24">
    <h2 class="detail-t h2 mb-12">Test</h2>
    <div class="detail-b text-white text-lg">
    </div>
   </div>
  </div>
 </div>
 
 <script type="text/javascript" charset="utf-8">
   function openModal(modalId) {
    let modal = document.getElementById(modalId);
    modal.classList.toggle('hidden');
}

function closeModal(modalId) {
    let modal = document.getElementById(modalId);
    modal.classList.add('hidden');
}
 </script>
{% endblock %}